<div class="container">
    <div class="breadcrumb" style="padding-left: 0; padding-right: 0;">
        <ol class="breadcrumb" style="margin-bottom: 0;">
            <li><i class="fa fa-home"></i> <a x-ui-sref="home">Home</a></li>
            <li class="active text-capitalize"><i class="fa fa-user-secret"></i> Candidate: {{ $stateParams.name }}</li>
        </ol>
    </div>
</div>

<div class="candidate-info">
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <div class="avatar" x-ng-if="!!$stateParams.name"
                         style="background-image: url('assets/img/{{ $stateParams.name }}-front.png');"></div>

                </div>
                <div class="col-md-8">
                    <div class="details">
                        <h2>{{ candidateCtrl.candidate[$stateParams.id - 1].first_name + ' ' + candidateCtrl.candidate[$stateParams.id - 1].middle_name + ' ' + candidateCtrl.candidate[$stateParams.id - 1].last_name }}</h2>
                        <div class="detail">
                            <p x-ng-bind="candidateCtrl.candidatesDescription[$stateParams.name]"></p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="detail">
                                    <strong><i class="fa fa-twitter"></i> Official Account</strong>
                                    <p><a href="https://twitter.com/{{ candidateCtrl.candidate[$stateParams.id - 1].twitter_mention }}" target="_blank">{{ candidateCtrl.candidate[$stateParams.id - 1].twitter_mention }}</a></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="detail">
                                    <strong><i class="fa fa-hashtag"></i> Official Hashtag</strong>
                                    <p><a href="https://twitter.com/search?q={{ candidateCtrl.candidate[$stateParams.id - 1].hashtag | encodeURIComponent }}" target="_blank">{{ candidateCtrl.candidate[$stateParams.id - 1].hashtag }}</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" x-ng-if="candidateCtrl.sentimentsReady">
            <div id="sentiment" style="height: 300px; width: 100%;"></div>
            <h3 class="text-center">Average Sentiment by time period in Hours</h3>
        </div>

        <div class="card" x-ng-if="candidateCtrl.keywordsReady">
            <div id="keywords" style="height: 300px; width: 100%;"></div>
            <h3 class="text-center">Top Keywords</h3>
        </div>

        <div class="row" x-ng-if="candidateCtrl.feelsReady">
            <div class="col-md-6">
                <div class="card">
                    <div id="emotions" style="height: 300px; width: 100%;"></div>
                    <h3 class="text-center">Emotions Chart</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="panel-group" id="em_accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" x-ng-repeat="feel in candidateCtrl.feels">
                            <div class="panel-heading" role="tab" id="feelsHeading{{ $index }}">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#em_accordion" href="#feelsGroup{{ $index }}" aria-expanded="{{ $index == 0 }}" aria-controls="feelsGroup{{ $index }}" onclick="return false">
                                        <strong>{{ feel.feels }}</strong>
                                    </a>
                                </h4>
                            </div>
                            <div id="feelsGroup{{ $index }}" class="panel-collapse collapse {{ $index == 90 ? 'in' :'' }}" role="tabpanel" aria-labelledby="feelsGroup{{ $index }}">
                                <ul class="list-group">
                                    <li class="list-group-item" x-ng-repeat="tweet in feel.tweets">
                                        <span class="sparkline" data-val="[{{ tweet.feels_anger }}, {{ tweet.feels_disgust }}, {{ tweet.feels_fear }}, {{ tweet.feels_joy }}, {{ tweet.feels_sadness }}]"></span>
                                        <a href="https://twitter.com/x/status/{{ tweet.twitter_ident }}" target="_blank" style="color: #000; text-decoration: none;">
                                            <span x-ng-bind-html="candidateCtrl.tweetContent(tweet)"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center">Top 5 Tweets per Emotions</h3>
                </div>
            </div>
        </div>
    </div>
</div>
